# Python cache & environment
__pycache__/
*.pyc
env/

# VS Code settings
.vscode/

# Logs & environment files
*.log
*.env

# GIS data
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qmd

# QGIS projects
*.qgz
*.qgs

*.inp
*.bin
*.rpt

# ignore csv and json
*.csv
*.json
*.png
*.xlsx

# ignore shapefiles, datasets folders and inp files
*/_shapefiles_/
*/Datasets/
*/results images/

# ignore specific files
create loc results shapefiles.py
experiments.py
find flow direction.py
shortest_path_to_sensors. - directed graph.py
shortest_path_to_sensors.py
top two closest sensors.py
visualize pressure sensors.py
